@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.tt-commons {
  font-family: "TT Commons", sans-serif;
}
.heading-l {
  font-size: 46px;
  letter-spacing: -1.38px;
}
